<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358267145718-o9so7763ooee9qp9acgbvv3no1664m59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358267145718-o9so7763ooee9qp9acgbvv3no1664m59</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>358267145718-jg2j5mfvu4bss23il5ab6bifc7mbkr3c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0GCEFNkpDft-y8daD_Dn5uB25U2yuAO8</string>
	<key>GCM_SENDER_ID</key>
	<string>358267145718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.martify</string>
	<key>PROJECT_ID</key>
	<string>martify-a40e0</string>
	<key>STORAGE_BUCKET</key>
	<string>martify-a40e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358267145718:ios:a30b4e2226e15d54d28bd7</string>
</dict>
</plist>